node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.vscode
.devcontainer
docs
test
src
*.test.js
.github
.editorconfig
.prettierrc.json
.prettierignore
eslint.config.mjs
jest.config.cjs
tsconfig.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.md
SECURITY.md
SUPPORT.md
.azuredevops
eslint-rules
scripts